<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Login Member</h2>
<form action="login.html" th:action method="post" th:object="${loginFormDto}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">global error message</p>
    </div>
    <div>
        <h2>ID</h2>
        <input type="text" id="id" th:field="*{id}">
        <div th:errors="*{id}">id error</div>
    </div>
    <div>
        <h2>PASSWORD</h2>
        <input type="text" id="password" th:field="*{password}">
        <div th:errors="*{password}">password error</div>
    </div>
    <button type="submit" >login</button>
</form>
</body>
</html>